/********************************/
/********* Activity CSS *********/
/********************************/

.activity {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.activity p {
    font-size: 16px;
}

#activity-content {
    padding: 0 3rem;
}

.timeline-left {
    position: relative;
    margin: 2.5rem auto;
}
  
.timeline-left::after {
    content: '';
    position: absolute;
    width: 0.25rem;
    background-color: var(--blue-charcoal);
    top: 0;
    bottom: 0;
    left: 50%;
}

.timeline-right {
    margin: 2.5rem auto;
}

.timeline-item {
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, .07);
    padding: 1.5rem 2rem;
    background: white;
    transition-duration: .3s;
    /* background-image: url(../img/gthieu_mini.jpg); */
}

.timeline-item:hover {
    color: white;
    background: var(--blue-charcoal);
}

.timeline-item p {
    text-align: justify;
    /* padding: 0 2rem 2rem; */
}

.timeline-item a h3 {
    margin-bottom: 1.5rem;
    font-size: 24px;
    font-weight: 600;
}

.timeline-item p span {
    background: var(--orange-pretty);
    padding: 0.15rem 0.5rem;
    border-radius: 0.75rem;
}

.timeline-item:hover a h3 {
    color: var(--orange-pretty);
}

.timeline-item:hover p span{
    color: var(--blue-charcoal);
}

.timeline-item #timeline-icon {
    position: relative;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 0.25rem;
}

.timeline-item img {
    position: inherit;
    width: 100%;
}

/* The circles on the timeline */
.timeline-item::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: -4.9rem;
    background-color: white;
    border: 0.5rem solid var(--orange-pretty);
    top: 1.5rem;
    border-radius: 50%;
    z-index: 1;
}

/* The arrow on the timeline-item */
.timeline-item::after {
    content: '';
    background: inherit;
    width: 2rem;
    height: 2rem;
    top: 1.25rem;
    display: block;
    position: absolute;
    left: -1rem;
    transform: rotate(45deg);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
    border-width: 2px;
    border-radius: 0 0 0 2px;
}

@media (max-width: 768px) {
    .timeline-item::before {
        left: -3.15rem;
    }
}

@media (min-width: 768px) {
    .timeline-item::before {
        left: -3.75rem;
    }
}

@media (min-width: 992px) {
    .timeline-item::before {
        left: -4.9rem;
    }
}