:root {
    --orange-main: #FF8C00;
    --orange-palest: #FFAF4D;
    --orange-pretty: #FFC074;
    --blue-charcoal: #343148;

    --primary-color: var(--orange-pretty);
    --secondary-color: var(--blue-charcoal);
}

body {
    color: #797979;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
}

a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s;

}

.navbar .navbar-brand span {
    color: var(--secondary-color);
    transition: .5s;
}

.navbar.nav-sticky .navbar-brand span {
    color: #ffffff;
}

.navbar.nav-sticky .navbar-brand {
    color: var(--primary-color);
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: var(--secondary-color);
}

.navbar.nav-sticky .nav-link,
.navbar.nav-sticky .nav-link:focus,
.navbar.nav-sticky .nav-link:hover,
.navbar.nav-sticky .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: var(--primary-color);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, .1);
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: var(--primary-color);
}

.navbar .show {
    margin-top: 2rem;
    transition: .1s;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0px;
        padding: 20px 60px;
        background: rgba(250, 249, 249, 0.1) !important;
        z-index: 9;
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: var(--secondary-color) !important;
    }

    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: var(--secondary-color) !important;
    }

    .navbar .navbar-brand span {
        color: var(--orange-main);
    }

    .navbar .navbar-brand {
        color: #ffffff;
    }

    .navbar.nav-sticky .navbar-brand span {
        color: #ffffff;
    }

    .navbar.nav-sticky .navbar-brand {
        color: var(--primary-color);
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
        background-color: var(--primary-color);
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #ffffff;
    }

}

/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: linear-gradient(to bottom right, var(--orange-palest), var(--primary-color));
}

.page-header h2 {
    position: relative;
    color: var(--secondary-color);
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: var(--secondary-color);
    text-decoration: none;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: var(--secondary-color);
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }

    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
}

.section-header p::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 11px;
    right: -30px;
    left: -30px;
    background: var(--primary-color);
    z-index: -1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.pre-footer {
    background-color: #7c6edd;
    position: relative;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: fit-content;
}

.editlogo {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url('../img/favicon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.pre-footer h3 {
    color: var(--primary-color);
    font-weight: 650;
    margin: 0.5rem 0 1rem;
    /* margin-bottom: 1rem; */
}

.pre-footer h2 {
    color: #fff;
    font-weight: 650;
    font-size: 50px;
}

.pre-footer p {
    word-wrap: break-word;
    color: #fff;
    text-decoration: none;
}

.pre-footer a {
    color: #fff;
    text-decoration: none;
}

.pre-footer i {
    width: 1.25rem;
    color: var(--orange-palest);
}

.pre-footer img {
    opacity: 0.2;
    position: absolute;
    left: 38rem;
    top: 0;
    width: 18%;
    height: auto;
}

.pre-footer .behind-text img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
}

.pre-footer a:hover {
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
}

.pre-footer .modify-pos {
    border-right: var(--secondary-color);
    width: fit-content;
}

@media (min-width: 991.98px) {
    .pre-footer .modify-pos {
        margin-left: 3rem;
    }
}

.pre-footer .behind-text {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-right: 30px;
}

.pre-footer .behind-text h2 {
    color: var(--primary-color);
}

.pre-footer .behind-text span {
    color: #fff;
}

.footer {
    margin-top: auto;
    margin-bottom: 0px;
    padding: 1rem;
    background: var(--orange-palest);
    text-align: center;
    height: 70px;
}

.footer p {
    margin-bottom: auto;
    margin-top: auto;
}

@media (max-width: 767.98px) {

    /*.footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }*/
    .pre-footer h3 {
        margin: 1rem 0 1rem;
    }
}